@media (max-width: 1390px) {    
  .second_cont{background-size: 48%;}
}

@media (max-width: 1199px) {
.nav ul{width: 96%;}
.nav li {margin-right: 0;}
.banner{background-position:right;}
.banner h1 {margin-top: 17%;}
.banner, .content{min-height: 501px;} 
.first_cont{background-size: 37%;}
.first_cont h3{margin-top: 90px;}
.second_cont h3{margin-top: 65px;}
.block_title {margin-top: 40px;}
.first_cont .block_title {margin-bottom: 0px;}
.second_cont{background-size: 45%;}
.step{margin-top: 12%;}
.third_cont{background-size: 20%;}
.third_cont h3{margin-top: 80px;margin-bottom: 45px;}
.fourth_cont{background-size: 45%;}
.spec_icons div{margin-bottom: 15px;}
.spec_icons:last-child li:nth-child(2) div{margin-bottom: 10px;}
.chronicle{min-height: 310px;}
.chronicle h4 {margin-top: 30px;}
.chronicle img {margin-top: 45px;}
.third_ul li {width:15%;margin-right:6%;}
}

@media (max-width: 991px) {
  #pull{display: block;float: right;}
  nav ul{display: none;position: absolute;background: white;width: 220px !important;position: absolute;right: 0;top: 92px;border-bottom-left-radius: 20px;z-index: 2;box-shadow: 0 5px 10px rgba(0,0,0,0.5);} 
  nav ul li{width: 100%;text-align: center;margin-top: 5px;margin-bottom: 5px;}

  .rounded{width: 80%;margin-left: 10%;}
  .nav{padding-top: 28px; padding-bottom:28px;}
  .banner, .content{min-height: 401px;}
  .banner h1 {margin-top:11%; line-height: 38px; font-size: 34px;}
  .banner p{padding-right: 0 !important; margin-bottom: 9%; font-size: 19px;}
  .mouse{width: 22px;margin: -11px;bottom: -25px;}
  .vorteile h2 {margin-bottom: 25px;}
  .vorteile .row div {margin-top: 20px;}
  .first_cont{background-position-x: 2%;background-size: 40%;}
  .first_cont h3, .second_cont h3, .third_cont h3{margin-bottom: 20px; font-size: 45px;}
  .first_cont .block_title, .third_cont h3{margin-top: 30px;}
  .second_cont h3 {margin-top: 20px;}
  .fourth_cont h3{margin-top: 40px;margin-bottom: 25px;}
  .fourth_cont{background-size: contain;}
  .spec_icons li{margin-bottom: 15px;margin-top: 15px;}
  .spec_icons p {font-size: 13px; word-wrap: break-word;}
  .chronicle {min-height: 250px;}
  .chronicle .container{margin-right: 0px; text-align: center;}
  .chronicle h4{margin: 20px 0;}
  .chronicle img{margin-top: 25px;}
  .third_ul li {width: 15%;margin-right: 6%; height: 42px;}
  .third_ul li i {font-size: 23px;padding-top: 8px;}
}

@media (max-width: 768px){
  .banner, .first_cont{min-height: 345px;}
  .banner h1{line-height: 26px; font-size: 20px;}
  .banner p{font-size: 15px; line-height: 20px;}
  .emotion{background: rgba(2,191,197,0.6);border-radius: 10px;padding-bottom: 16px;margin-top: 39px;margin-bottom: 10px;margin-left: 2px;color: white;width: 60%}
  .emotion img,.chronicle img{max-width: 80%;}
  .mouse{bottom: -35px;}
  .vorteile p{width: 80%;margin-left: 10%;}
  .first_cont{background-size: contain;background-position-x: -45px;}
  .content .container{background: rgba(2,191,197,0.5);border-radius: 10px;padding-bottom: 16px;color: white;width: 45%;margin-left: 54%;}
  .third_cont .container{background: rgba(255,255,255,0.9); color:#02bfc5;}
  .subscribe_text{width: auto; margin-left:0;}
  .block_title{font-size: 24px;}
  .content{padding-top: 20px; padding-bottom: 20px;}
  .first_cont h2{text-align: left;}
  .content h3{margin-top: 50px;font-size: 35px;}
  .third_cont h3{margin-top: 10px;}
  .subscribe_text p{font-size: 15px;}
  .second_cont, .third_cont{background-size: contain;margin-top: 30px;min-height: 320px;}
  .second_cont .container, .fourth_cont .container{width: 41%;margin-left: 1%;}
  .step{margin-top: 0;}
  .step p{color:white;}
  hr{background: white;}
  .second_cont h3{margin-top: 20px;}
  .fourth_cont{margin-top: 20px; min-height: 340px;}
  .subs_block{margin-bottom: 40px;}
  .subscription h2{margin-top: 40px; margin-bottom: 40px;}
  .spec_icons p {font-size: 18px;}
  .block_title{margin-bottom: 40px;}
  .spec_icons li {margin-bottom: 40px;}
  .mehr button{margin-bottom: 30px;margin-top: 0;}
  .chronicle h4{font-weight: 100;}
  .chronicle p{line-height: 1.2em;}
  .chronic_text{width: 100%;margin-left: 0;}
  .owl-theme .owl-controls .owl-buttons div{top:0;}
  .owl-prev{left:inherit; right: 50px;}
  .owl-next{right: 0px;}
  .owl-carousel{margin-top: 40px;margin-bottom: 20px;}
  footer h5{margin-top: 25px;margin-bottom: 20px;}
  footer p{margin-bottom: 20px;}
  footer p:last-child{padding-bottom: 20px;}
  footer h6:last-child{text-align:center;}

  .third_ul li{width:45px;height:45px;margin-right: calc(25% - 57px);}
  .third_ul li:last-child{margin: 0;}
  .third_ul li i {font-size: 25px;padding-top: 9px;}
  .newsletter h6{text-align: center;}

}

@media (max-width: 680px){
  .first_cont .container{width: 80%;margin-left: 15%;}
  .second_cont .container, .fourth_cont .container{width: 70%;margin-left: 5%;}
  .third_cont .container{width: 80%;margin-left: 15%;}
  .chronicle .container{width: 70%;margin-left: 25%;}
  .emotion{margin-left: 5%;}
}

@media (max-width: 560px){
  .operating_info, .additional_info{
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 500px){
  .subs_block{width: 92%; margin-left: 4%;}
  .spec_icons{width: 50%;margin: 0;}
  .chronicle{background-position: -200px;}
  .newsletter{width:100%; margin: 0;}
}

@media (max-width: 400px) {
  .fourth_cont {background-size: cover;}
}

@media (max-width: 360px) {
  .banner, .first_cont{min-height: 301px;}
  .emotion{margin-top: 6px;}
  .spec_icons{width: 100%;}
}
